h2 {
  font-size: 18px;
}

.projects-container {
}

.featured-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
}

.project-item {
  padding: 1rem;
  background: #edebea;
  font-size: 14px;
  border: 1px solid grey;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.43);
}

.pt {
  margin-top: 1rem;
  background-color: lightgray;
  padding: 1rem;
}

.title-text {
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 888px) {
  .featured-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .project-item {
    font-size: 12px;
    margin-bottom: 1rem;
  }
}
